/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-style: normal;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background-color: #f7f7f7;
}

html {
  font-size: 62.5%;
}

.color-1 {
  color: #fda201;
}

.color-2 {
  color: #01acfd;
}

.color-3 {
  color: #05d4df;
}

.color-4 {
  color: #5d58ef;
}

.span-1 {
  color: #fda201;
}

.span-2 {
  color: #01acfd;
}

.btn {
  padding: 1rem 4rem;
  background-color: #fda201;
  border: none;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.7rem;
  border-radius: 0.8rem;
}

/* header section styles */
header {
  width: 100%;
  height: fit-content;
}

header nav {
  width: 100%;
  height: 9rem;
}

header nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .container .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header nav .container .logo h3 {
  font-size: 3rem;
  text-transform: capitalize;
}

header nav .container ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

header nav .container ul li {
  list-style-type: none;
}

header nav .container ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 500;
}

header nav .container i {
  display: none;
}

/* banner section styles */
#banner {
  width: 100%;
  height: calc(100vh - 9rem);
}

#banner .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .container .left {
  width: 50%;
  height: fit-content;
}

#banner .container .left h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}

#banner .container .left p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

#banner .container .left .btn {
  background-color: #000;
}

#banner .container .right {
  width: 47%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
}

#banner .container .right .inner {
  width: 90%;
  height: 80%;
}

#banner .container .right .inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* main section styles */
/* Curriculum */
#curriculum {
  width: 100%;
  height: fit-content;
  padding: 2rem 0;
  /* background-repeat: no-repeat; */
}

#curriculum .container {
  height: fit-content;
  padding: 10rem 0 5rem 0;
  background-image: url(assets/bg.png);
  background-size: cover;
  background-position: center;
}

#curriculum .container .sec-heading {
  width: 100%;
}

#curriculum .container .sec-heading h1 {
  text-align: center;
  font-size: 4.6rem;
}

#curriculum .container .curriclum-container {
  width: 100%;
  height: fit-content;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

#curriculum .container .curriclum-container .card {
  width: 30%;
  height: 45rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#curriculum .container .curriclum-container .card h3 {
  font-size: 2.5rem;
}

#curriculum .container .curriclum-container .card p {
  font-size: 1.5rem;
}

#curriculum .container .curriclum-container .card a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.card-1 {
  background: linear-gradient(#c1edff, #fff, #fff, #fff);
}

.card-2 {
  background: linear-gradient(#f7ffba, #fff, #fff, #fff);
}

.card-3 {
  background: linear-gradient(#ebc7ff, #fff, #fff, #fff);
}

#curriculum .container .btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 6rem;
}

#curriculum .container .btns .arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fda201;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
}

/* stories section styles */
#stories {
  width: 100%;
  height: fit-content;
  padding: 5rem 0;
  background: linear-gradient(to top, #f9e0b2, #f7f7f7, #f7f7f7);
}

#stories .container {
  height: fit-content;
  padding: 2rem 0;
  background-image: url(assets/bg.png);
}

#stories .container .sec-heading h1 {
  font-size: 4.6rem;
  text-align: center;
}

#stories .container .stories-container {
  width: 100%;
  height: fit-content;
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stories .container .stories-container .left {
  width: 48%;
  height: fit-content;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

#stories .container .stories-container .left .card {
  width: 100%;
  height: fit-content;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#stories .container .stories-container .left .card img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

#stories .container .stories-container .left .card .card-text {
  width: 100%;
  height: fit-content;
  padding: 0 2rem;
  padding-bottom: 3rem;
  margin-top: -2.7rem;
}

#stories .container .stories-container .left .card .card-text .card-btn {
  border: none;
  outline: none;
  background-color: #3cd8e8;
  padding: 1.4rem 3rem;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 2.5rem;
  margin-bottom: 3rem;
}

#stories .container .stories-container .left .card .card-text h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

#stories .container .stories-container .left .card .card-text p {
  font-size: 1.8rem;
}

#stories .container .stories-container .right {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2.2rem;
}

#stories .container .stories-container .right .card {
  width: 48%;
  height: fit-content;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#stories .container .stories-container .right .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#stories .container .stories-container .right .card .card-text {
  margin-top: -2.4rem;
  padding: 0 1.5rem;
  padding-bottom: 1.6rem;
}

#stories .container .stories-container .right .card .card-btn {
  border: none;
  outline: none;
  background-color: #e8c63c;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 2.5rem;
  margin-bottom: 2rem;
}

#stories .container .stories-container .right .card h3 {
  font-size: 1.6rem;
}

#stories .container .btn {
  display: block;
  margin: 0 auto;
  margin-top: 6rem;
}

/* footer section styles */
footer {
  width: 100%;
  height: fit-content;
  padding: 7rem 0 4rem 0;
  background-color: #01acfd;
}

footer .container {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .container .footer-item {
  width: 30%;
  /* background-color: yellow; */
}

footer .container .footer-item .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

footer .container .footer-item .logo h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}

footer .container .footer-item p {
  font-size: 1.6rem;
  color: #fff;
}

footer .container .mid {
  width: 20%;
}

footer .container .mid h3,
footer .container .right h3 {
  color: #fff;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

footer .container .mid ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

footer .container .mid ul li {
  list-style-type: none;
  font-size: 1.8rem;
  color: #fff;
}

footer .container .right {
  display: flex;
  width: 25%;
  flex-direction: column;
}

footer .container .right .icons {
  display: flex;
  gap: 1rem;
}

/* marquee */
footer marquee {
  margin-top: 5rem;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* MEDIA QUERIES */
@media screen and (max-width: 576px) {
  html {
    font-size: 50%;
  }

  /* header section styles */

  header nav {
    width: 100%;
    height: 8rem;
    box-shadow: 0 1px 1px #fda10160;
  }

  header nav .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav .container .logo img {
    width: 70%;
  }

  header nav .container .logo h3 {
    display: none;
  }

  header nav .container ul {
    display: none;
  }

  header nav .container .btn {
    display: none;
  }

  header nav .container i {
    display: block;
    font-size: 3.5rem;
  }

  /* banner section styles */
  #banner {
    height: fit-content;
  }

  #banner .container {
    flex-direction: column-reverse;
    gap: 5rem;
    padding: 2rem 0 5rem 0;
  }

  #banner .container .left {
    width: 100%;
    text-align: center;
    padding: 0 3rem;
  }

  #banner .container .left h1 {
    font-size: 3.8rem;
    margin-bottom: 2rem;
  }

  #banner .container .left p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  #banner .container .left .btn {
    font-size: 1.8rem;
  }

  #banner .container .right {
    width: 100%;
    justify-content: center;
  }

  #banner .container .right .inner {
    width: 90%;
    height: 75%;
  }

  #banner .container .right .inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Curriculum */

  #curriculum .container .sec-heading h1 {
    font-size: 4rem;
  }

  #curriculum .container .curriclum-container {
    flex-direction: column;
  }

  #curriculum .container .curriclum-container .card {
    width: 85%;
  }

  #curriculum .container .btns {
    display: none;
  }

  /* stories section styles */
  #stories .container .sec-heading h1 {
    font-size: 4rem;
  }

  #stories .container .stories-container .left {
    display: none;
  }

  #stories .container .stories-container .right {
    width: 100%;
    padding: 0 1rem;
  }

  #stories .container .stories-container .right .card .card-text {
    margin-top: -2.4rem;
    padding: 0 1.5rem;
    padding-bottom: 1.6rem;
  }

  #stories .container .stories-container .right .card h3 {
    font-size: 1.4rem;
  }

  /* footer section styles */
  footer .container {
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
  }

  footer .container .footer-item {
    width: 80%;
    /* background-color: yellow; */
  }

  footer .container .mid {
    width: 100%;
  }

  footer .container .mid h3,
  footer .container .right h3 {
    margin-bottom: 2rem;
  }

  footer .container .right {
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  /* header section styles */

  header nav {
    width: 100%;
    height: 8rem;
    box-shadow: 0 1px 1px #fda10160;
  }

  header nav .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav .container .logo img {
    width: 80%;
  }

  header nav .container .logo h3 {
    display: none;
  }

  header nav .container ul {
    display: none;
  }

  header nav .container .btn {
    display: none;
  }

  header nav .container i {
    display: block;
    font-size: 3.5rem;
  }

  /* banner section styles */
  #banner {
    height: fit-content;
  }

  #banner .container {
    flex-direction: column-reverse;
    gap: 5rem;
    padding: 2rem 0 5rem 0;
  }

  #banner .container .left {
    width: 100%;
    text-align: center;
  }

  #banner .container .left h1 {
    font-size: 4.6rem;
    margin-bottom: 2rem;
  }

  #banner .container .left p {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0 3rem;
  }

  #banner .container .left .btn {
    font-size: 2rem;
  }

  #banner .container .right {
    width: 100%;
    justify-content: center;
  }

  #banner .container .right .inner {
    width: 60%;
    height: 65%;
  }

  #banner .container .right .inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Curriculum */
  #curriculum .container .curriclum-container .card {
    width: 45%;
  }

  #curriculum .container .btns {
    display: none;
  }

  /* stories section styles */
  #stories .container .sec-heading h1 {
    font-size: 4rem;
  }

  #stories .container .stories-container .left {
    display: none;
  }

  #stories .container .stories-container .right {
    width: 100%;
    padding: 0 1rem;
  }

  #stories .container .stories-container .right .card .card-text {
    margin-top: -2.4rem;
    padding: 0 1.5rem;
    padding-bottom: 1.6rem;
  }

  #stories .container .stories-container .right .card h3 {
    font-size: 1.4rem;
  }

  /* footer section styles */

  footer .container {
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
  }

  footer .container .footer-item {
    width: 50%;
    /* background-color: yellow; */
  }

  footer .container .mid {
    width: 100%;
  }

  footer .container .mid h3,
  footer .container .right h3 {
    margin-bottom: 2rem;
  }

  footer .container .right {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 60%;
  }

  /* banner section styles */
  #banner .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #banner .container .left {
    width: 50%;
    height: fit-content;
  }

  #banner .container .left h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  #banner .container .left p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    /* padding: 3rem; */
  }

  #banner .container .right .inner {
    height: 76%;
  }

  /* curriculum */

  #curriculum .container .curriclum-container {
    flex-direction: row;
  }

  #curriculum .container .curriclum-container .card {
    width: 45%;
  }

  #curriculum .container .btns {
    display: none;
  }

  /* stories section styles */
  #stories .container .sec-heading h1 {
    font-size: 4rem;
  }

  #stories .container .stories-container .left {
    display: none;
  }

  #stories .container .stories-container .right {
    width: 100%;
    padding: 0 1rem;
  }

  #stories .container .stories-container .right .card .card-text {
    margin-top: -2.4rem;
    padding: 0 1.5rem;
    padding-bottom: 1.6rem;
  }

  #stories .container .stories-container .right .card h3 {
    font-size: 1.4rem;
  }

  /* footer section styles */

  footer .container {
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
  }

  footer .container .footer-item {
    width: 50%;
    /* background-color: yellow; */
  }

  footer .container .mid {
    width: 100%;
  }

  footer .container .mid h3,
  footer .container .right h3 {
    margin-bottom: 2rem;
  }

  footer .container .right {
    width: 100%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
  html {
    font-size: 60%;
  }

  /* banner section styles */
  #banner {
    height: calc(100vh - 9rem);
  }

  #banner .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #banner .container .left {
    width: 50%;
    height: fit-content;
  }

  #banner .container .left h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  #banner .container .left p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  #banner .container .right .inner {
    height: 86%;
  }

  #curriculum .container .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 6rem;
  }

  /* stories section styles */

  #stories .container .stories-container .left .card .card-text h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  #stories .container .stories-container .left .card .card-text p {
    font-size: 1.4rem;
  }
}
