/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-style: normal;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background-color: #f7f7f7;
}

html {
  font-size: 62.5%;
}

.color-1 {
  color: #fda201;
}

.color-2 {
  color: #01acfd;
}

.color-3 {
  color: #05d4df;
}

.color-4 {
  color: #5d58ef;
}

.span-1 {
  color: #fda201;
}

.span-2 {
  color: #01acfd;
}

.btn {
  padding: 1rem 4rem;
  background-color: #fda201;
  border: none;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.7rem;
  border-radius: 0.8rem;
}

/* header section styles */
header {
  width: 100%;
  height: fit-content;
}

header nav {
  width: 100%;
  height: 9rem;
}

header nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .container .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header nav .container .logo h3 {
  font-size: 3rem;
  text-transform: capitalize;
}

header nav .container ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

header nav .container ul li {
  list-style-type: none;
}

header nav .container ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 500;
}

header nav .container i {
  display: none;
}

/* banner section styles */
#banner {
  width: 100%;
  height: calc(100vh - 9rem);
}

#banner .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .container .left {
  width: 50%;
  height: fit-content;
}

#banner .container .left h1 {
  font-size: 4.2rem;
  line-height: 1;
  margin-bottom: 2rem;
}

#banner .container .left p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

#banner .container .left .btn {
  background-color: #000;
}

#banner .container .right {
  width: 47%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
}

#banner .container .right .inner {
  width: 90%;
  height: 80%;
}

#banner .container .right .inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MEDIA QUERIES */
@media screen and (max-width: 576px) {
  html {
    font-size: 50%;
  }

  /* header section styles */

  header nav {
    width: 100%;
    height: 8rem;
    box-shadow: 0 1px 1px #fda10160;
  }

  header nav .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav .container .logo img {
    width: 70%;
  }

  header nav .container .logo h3 {
    display: none;
  }

  header nav .container ul {
    display: none;
  }

  header nav .container .btn {
    display: none;
  }

  header nav .container i {
    display: block;
    font-size: 3.5rem;
  }

  /* banner section styles */
  #banner {
    height: fit-content;
  }

  #banner .container {
    flex-direction: column-reverse;
    gap: 5rem;
    padding: 2rem 0 5rem 0;
  }

  #banner .container .left {
    width: 100%;
    text-align: center;
    padding: 0 3rem;
  }

  #banner .container .left h1 {
    font-size: 3.3rem;
    margin-bottom: 2rem;
  }

  #banner .container .left p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  #banner .container .left .btn {
    font-size: 1.8rem;
  }

  #banner .container .right {
    width: 100%;
    justify-content: center;
  }

  #banner .container .right .inner {
    width: 90%;
    height: 75%;
  }

  #banner .container .right .inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  /* header section styles */

  header nav {
    width: 100%;
    height: 8rem;
    box-shadow: 0 1px 1px #fda10160;
  }

  header nav .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav .container .logo img {
    width: 80%;
  }

  header nav .container .logo h3 {
    display: none;
  }

  header nav .container ul {
    display: none;
  }

  header nav .container .btn {
    display: none;
  }

  header nav .container i {
    display: block;
    font-size: 3.5rem;
  }

  /* banner section styles */
  #banner {
    height: fit-content;
  }

  #banner .container {
    flex-direction: column-reverse;
    gap: 5rem;
    padding: 2rem 0 5rem 0;
  }

  #banner .container .left {
    width: 100%;
    text-align: center;
  }

  #banner .container .left h1 {
    font-size: 4.6rem;
    margin-bottom: 2rem;
  }

  #banner .container .left p {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0 3rem;
  }

  #banner .container .left .btn {
    font-size: 2rem;
  }

  #banner .container .right {
    width: 100%;
    justify-content: center;
  }

  #banner .container .right .inner {
    width: 60%;
    height: 65%;
  }

  #banner .container .right .inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 60%;
  }

  /* banner section styles */
  #banner .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #banner .container .left {
    width: 50%;
    height: fit-content;
  }

  #banner .container .left h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  #banner .container .left p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    /* padding: 3rem; */
  }

  #banner .container .right .inner {
    height: 76%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
  html {
    font-size: 60%;
  }

  /* banner section styles */
  #banner {
    height: calc(100vh - 9rem);
  }

  #banner .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #banner .container .left {
    width: 50%;
    height: fit-content;
  }

  #banner .container .left h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  #banner .container .left p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  #banner .container .right .inner {
    height: 86%;
  }
}
